<footer class="bg-gray-800 shadow dark:bg-gray-900 p-4 bg-gray-800 mt-20">
	<div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
		<div class="sm:flex sm:items-center sm:justify-between">
			<a href="#" class="flex items-center mb-4 sm:mb-0">
				<img src="https://www.freepnglogos.com/uploads/book-png/book-clipart-transparent-5.png" class="h-8 mr-3"/>
				<span class="self-center text-2xl font-semibold whitespace-nowrap text-gray-200">EbookVerse</span>
			</a>
			<ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-300 sm:mb-0 dark:text-gray-200">
				<li>
					<a href="#" class="mr-4 hover:underline md:mr-6 ">About</a>
				</li>
				<li>
					<a href="#" class="mr-4 hover:underline md:mr-6">Privacy Policy</a>
				</li>
				<li>
					<a href="{{ asset('licence.md') }}" class="mr-4 hover:underline md:mr-6 ">Licensing</a>
				</li>
				<li>
					<a href="#" class="hover:underline">Contact</a>
				</li>
			</ul>
		</div>
		<hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8"/>
		<span class="block text-sm text-gray-300 sm:text-center dark:text-gray-200">© 2023
			<a href="#" class="hover:underline">EbookVerse</a>. All Rights Reserved.</span>
	</div>
</footer>
