@import 'select2/dist/css/select2.min.css';

@layer base {

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.content {
    padding-top: 100px;
}