{% extends 'base.html.twig' %}

{% block title %}Edition du mot de passe
{% endblock %}

{% block body %}
	<div class="content flex justify-center items-center flex-col">
		<div class="w-96 max-w-4xl bg-white shadow-md rounded-lg p-8">
			<span class="flex justify-center text-4xl mb-10 underline">Edition du mot de passe</span>
			{{ form_start(form) }}
			{{ form_widget(form) }}
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
